################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KFN Decryptor/obj/Debug
/KFN Decryptor/.vs/KFN Decryptor/v15
